[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux
[submodule "tmux/.tmux/plugins/tmux-gruvbox"]
	path = tmux/.tmux/plugins/tmux-gruvbox
	url = https://github.com/egel/tmux-gruvbox
[submodule "tmux/.tmux/plugins/tmux-onedark-theme"]
	path = tmux/.tmux/plugins/tmux-onedark-theme
	url = https://github.com/odedlaz/tmux-onedark-theme
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/vim-tmux-navigator"]
	path = tmux/.tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/.zsh_plugins/powerlevel10k"]
	path = zsh/.zsh_plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
